/* Wireframe Styling */

 body {

    font-family: 'Arial', 'Helvetica Neue' Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    
}

.header {
        height: 80px;
        margin: 10 auto;
        text-align: center;
        background-color: #ebebeb;
        font: #777;
        vertical-align: middle;
        line-height: 80px;
}

.nav {
        height: 80px;
        margin: 0 auto;
        text-align: center;
        background-color: #ebebeb;
        font: #777;
        vertical-align: middle;
        line-height: 80px;
}

.article {
        height: 80px;
        margin: 0 auto;
        text-align: center;
        background-color: #ebebeb;
        font: #777;
        vertical-align: middle;
        line-height: 80px;


}









